@charset "UTF-8";

* {
    margin:0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
     
}

header {
    text-align: center;
    width: 100%;
    background-color: #6A9A51;
    color: #d6eec9;
}

header h1 {
    color: black;
    margin-bottom: 7px;
    padding-top: 10px;
  
}

header h3 {

    animation-delay: 7s;
    animation: intro ease-in-out 5s forwards;
}

header a {
    color: #d6eec9;
    text-decoration: none;
}

header a:hover { 
    color:#d6eec9;   
}

header nav  {
    width: 100%;
    margin-top: 10px;
    text-align: right;
    padding: 10px 0;
    background-color: #00000098;
    
}


header nav a {
    margin-right: 20px;
    font-size: 1.2em;
    color: #7cb35e;
    
}

header nav a:hover {   
    color: #d6eec9;
    border-radius: 7px;
    text-shadow: 0 0 13px #d6eec9;
}

.home .interface {
   
   background-color: black;
    height:83vh;
    width: 100vw;
    background-repeat: no-repeat;
    animation: intro ease-in-out 3s forwards;
    background-image: url(../img/sound\ wave_02_Banner.jpg);
    background-position: center;
    background-size: cover;
    opacity: .87;
    margin: auto;

}

.home .link {
    margin: auto;
    text-align: center;
    background-color: black;
}

.listening {
    margin-top: 25px;
    padding: 7px;
    cursor: pointer;
    background-color: #d6eec9;
    color:#6A9A51;
    border: 2px solid #6A9A51 ;
    box-shadow: 0px 0px 17px 5px #d6eec9 ;
    font-size: 1.1em;
    border-radius: 12px;
    font-weight: bolder;

}
.listening:hover {
    transform: scale(1.1);
    background-color:#6A9A51;
    color:#d6eec9;
    border: 2px solid #d6eec9;
}

.botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin: 0 5%;
    animation-delay: 7s;
    animation: intro ease-in-out 5s forwards;
    
}

.iframe {
    width: 90%;
    margin: auto;     
}

iframe {
    margin-top: 27px;
    height:62vh;
   
}

.divisao {
    box-shadow: 0px 0px 0px 2px #d6eec9;
}

.certificados {
    height: 100vh;
    background-image: url(../img/keyboard-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    text-align: center;
}

.certificados iframe {
    width: 92%;
    height: 72vh;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #d6eec9 ;
   
}

.menu-certificados {
    background-color: black;
    color: #6A9A51;
    padding: 10px;
    margin-top: 30px;
    border-radius: 7px;
    border: 2px solid #6A9A51;
    box-shadow: 0px 0px 17px 5px #d6eec9 ;
    font-size: 1.3em;
}
.menu-certificados:hover {
    cursor: pointer;
    background-color: #d6eec9;
    color: black;
    border: 2px solid #d6eec9;
}
.pesquisa {
    height: 100%;
    margin-bottom: -10px;
}

 #container {
    background-image: url(../img/sound\ wave_02_Banner.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;  
    height: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
   
}

fieldset {
    padding: 5px;
}
#survey-form {
    padding: 20px;
    width: 55vw;
    height: 75.7vh;
    margin: auto;
    background-color: black;
    background-position: center;
    color: #6A9A51;
    border-radius: 20px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 10px 2px #d6eec9 ;
    margin-bottom: 5px;
    opacity: .77;
    font-weight: 700;
    
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.texts {
    padding: 5px;
    
}

form input {
    padding: 3px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    
}

.submit {
    text-align: right;
    
}

#submit,#reset {
    margin-top: 15px;
    border-radius: 10px;
    padding: 8px;
    background-color: #6A9A51;
    color: black;
    margin-bottom: 15px; 
    border: 2px solid #d6eec9;  
    font-weight: 700;  
}

#reset {
    margin-left: 15px;
}
#submit:hover, #reset:hover {
    background-color: #d6eec9;
    color: black;
    cursor: pointer;
    border: 2px solid #d6eec9;
    
}

.claudio {
    color:#6A9A51;
    text-align: center;
   
}

.claudio a {
    color:#6A9A51;
    text-decoration: none;
}

.claudio a:hover {
    color:#d6eec9;
    text-decoration: underline;
}

.donate {
    text-align: center;  
   background-color: black;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

.donate p {
    text-align: center;
    color: #6A9A51;
    padding: 3px;
    margin-top:-5px;
    
}

span {
    
    position: fixed;
    bottom:5%;
    right:2%;
    border: 2px solid  #d6eec9;
    border-radius: 50%;
    padding: 5px;
    background-color:#6A9A51 ;
    color:black;
    box-shadow: 0 0 15px #d6eec9;
    transform: scale(1.2);
    
    
}

span:hover {
    cursor: pointer;
    background-color: #d6eec9;
    color:black ;
    border: 2px solid #d6eec9;
    transform: scale(1.5);
    
}



@keyframes intro {
    0% {
        opacity: 0;
        transform: scale(.01);
       
        
       
    }
    100% {
        opacity: 1;
        transform: scale(1);
       
        
       
    }
}

@media screen and (max-width:768px) {

    header h1 {
        font-size:1.2em ;
        }

    header h3 {
    font-size:.91em ;
    }

    header nav {
        text-align: center;
    }

    .home .interface {
       
        background-size: cover;
        background-position: center;
        height: 100vh;
        
        
    }
    .botoes {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: .87em;
    }
    #container {
        background-size: cover;
        background-position: center;
    }

    #survey-form {
        height: 100%;
    }

    .name-label input, .email-label input, .number-label, #dropdown, .input-radio, .input-checkbox, textarea {
        background-color: white;
        color:black;
    }

    label input {
        background-color: white;
        color:black;
    }
}

